@model MainHomeVm

@{
    ViewData["Title"] = "Home";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZyzzGymOriginal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css~/css/font-awesome.css">
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e26e4799e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css~/css/hover-min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" />
    <style>
        html, body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class="p-0 m-0 border-0 bd-example bg-dark" style="background-color:#212529">
 <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
       <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>    
    <div class="carousel-inner">
      <div class="carousel-item active position-relative" data-bs-interval="10000">
        <img src="~/images/slide1.png" class="d-block vw-100" alt="...">
        <div style="margin-bottom: 5%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">

            <div class="slider-btn">
                <h2 class="text-light" data-aos="fade-down"  data-aos-duration="800">Train with us!</h2>
                <center><button class="btn-buy" data-hover="Get shredded"  data-aos="fade-up"  data-aos-duration="800" onclick="location.href='@Url.Action("Pricing", "Main")'"><div>Join Us</div></button></center>
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="~/images/slide2.png" class="d-block vw-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="~/images/slide3.png" class="d-block vw-100" alt="...">
      </div>
    </div>
    <button style="opacity:0;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button style="opacity:0;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  @*About*@

  <div class="about  mt-5 " style="margin-bottom:8em;" id="about">
   <center><div class="container-fluid" data-aos="fade-down" data-aos-duration="1000">
   <div class="container">

          <h2 class="text-light position-relative section-title mb-4">Hi, we are Zyzz Gym</h2>
          <p>We're here to shred you and let you get your dream figure. Our team will help you achieve this goal. Our gym consist of contemporary equipment and friendly community. Remember NO PAIN, NO GAIN!</p>
          <span class="text-light">If you have any question to our instructors, tell us immediately! Thank you.</span>
          <h2 class="text-light mt-5">Our Team <i class="fa-solid fa-trophy text-danger"></i></h2>
    </div>
    </div></center>
    <div class="container bg-dark">

      <div class="row">

        <div class="col-md-6 col-lg-4 mt-3" data-aos="fade-right"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Roonie Coleman</h3>
                  <h4>Personal trainer</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 mb-5" data-aos="fade-down"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image01.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Peter Hajduk</h3>
                  <h4>Personal trainer</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 mb-5" data-aos="fade-left"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image02.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Jamal White</h3>
                  <h4>Kickboxing trainer</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 mb-5" data-aos="fade-up-right"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image03.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Michael Owczarzak</h3>
                  <h4>Crossfit trainer</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 mb-5" data-aos="fade-down"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image04.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Caroline Deep</h3>
                  <h4>Yoga Instructor</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3 mb-5" data-aos="fade-up-left"  data-aos-duration="800">
          <div class="card about-cardl mg-b2">
            <img src="~/images/team-image05.jpg" alt="" class="img-fluid rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-xm-7 card-b">
                  <h3>Kylie Smith</h3>
                  <h4>Aerobic Instructor</h4>
                </div>
                <div class="col-xm-5 card-so">
                  <i class="fab fa-twitter "></i>
                  <i class="fab fa-facebook-f "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</body>